{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "polyfill": false,
        "regenerator": true,
        "moduleName": "@babel/runtime"
      }
    ]
  ],
  "presets": [
    "@babel/env",
    [
      "@babel/preset-stage-0",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/react"
  ]
}
